html, body{
    padding: 0;
    margin: 0;
}
@font-face{
    src: url(../Fonts/typo_round/Typo_Round_Regular_Demo.otf);
    font-family: typo;
}
@font-face{
    src: url(../Fonts/Ubuntu-Title/Ubuntu-Title.ttf);
    font-family: ubunto;
}
.logo{
    float: left;
    font-size: 25px;
    line-height: 80px;
    padding: 0 4em;
    letter-spacing: 1px;
    clear: both;
    color:white;
    font-family: typo;
}
.menu{
    float: right;
    line-height: 50px;
    
}
.menu ul{
    list-style: none;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
    padding: 0 20px;
    color:white;
    font-family: typo;
}
.navigation{
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80px;
    border-bottom: 2.5px solid rgba(0, 0, 0, 0.5);
}
body{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.11),rgba(0, 0, 0, 0.11)), url(../Pics/bg.jpg) no-repeat; 
    background-size: cover;
    display: table;
}

.header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;    
    color: white;
    font-family: ubunto;
}